* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    font-family: "Josefin Sans", sans-serif;
}

header {
    color: white;
    height: 60px;
    border-bottom: 3px solid #923892;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: white;
}
header span {
    color: #923892;
}

header #logo {
    font-size: 32px;
    font-weight: 500;
}

.header_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_icons i {
    margin: 0 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    transform: scale(1.5, 1.5);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    right: 5px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #923892;
}

.container {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20%;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
}

.card h4 {
    margin: 20px 0px;
}


.pagination {
    background-color: white;
    color: #923892;
    width: 460px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
    border-radius: 8px;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination ul li {
    list-style: none;
    padding: 8px 12px;
    margin: 5px 2px;
}

.pagination ul li.active,
.pagination ul li.num:hover,
.pagination ul li.btn:hover  {
    color: white;
    background-color: #923892;
}

.search_page {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
}

input {
    border: 1px solid white;
    border-radius: 8px;
    width: 50px;
    height: 40px;
    margin: 10px;
    padding: 5px;
}

button {
    border: 1px solid #923892;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: #1b1b1b;
    color: #923892;
    font-weight: 600;
}

button:hover {
    background-color: #923892;
    color: #1b1b1b;
    border-color: #1b1b1b;
}